<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>


    <h2 class="new-cars">Pick Your Favorite! Rate and Talk About the Coolest Upcoming Cars!"</h2>
    <%- newCar %>
   