<h1>Welcome to CSE Motors!</h1>
<section>
<div class="dmc">
    <h2>DMC Deloream</h2>
    <h3>3 cup holders</h3>
    <h3>Superman doors</h3>
    <h3>Fuzzy dicel!</h3>
    <button> Own Today</button>
</div>
<div>
    <img src="../public/images/vehicles/delorean.jpg">
</div>
</section>