/******* Change Box Model ***************/
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Gruppo&family=Marcellus&display=swap');

/* colors : https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd */
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Header */

#top-header{
  display: flex;
  justify-content: space-between;
  margin:3%;  
}

.siteName
{
 font-family:"Baskervville";
 font-size:xx-large;
 color: black;

}
#tools{font-family:"Gruppo" ;
font-size: large;
color: black;}

a{ text-decoration: none;}

/* Navigation */

.display-nav{
  display: flex;
  justify-content:space-around;
  background-color: #1b263b;
  font-family:"Marcellus" ;
  font-size: medium;
  padding: 2%;
  list-style-type: none;
  }

  .display-nav a{ color:white;}

  /* body */

  h1{margin: 5%;}
 
  html{background-image: url("/images/site/small_check.jpg");}

  body{background-color: white;
       margin-top: 7%;
       margin: 5%;
       border: 8px solid #778DA9;   
  }
  .dmc{
    display: grid;
    grid-template-rows: 1fr  ;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    margin-right: 20%;
  }
 

 .dmc button{
  background-color: #0D1B2A;
  padding: 5%;
  color:white;
  width: 80%;
  height: auto;
            
            }
 .sign{
  width: 30%;
  height: 80%;
  text-align: center;
  background-color:#E0E1DD ;
  opacity:0.9;
  padding-top: 3%;
  margin-top: 5%;
  z-index: 1;
  grid-row: 1/1;
  grid-column: 2/2;
  color:#006d77;
}  

.imagen{
  grid-row: 1/1;
  grid-column: 2/3;
}


.review{
  display: flex;
  flex-direction: row;
  font-size:medium;
  text-align: left;
  padding-right:20px;
 }
 .review li{
  padding-top: 10%;
  text-align: left;
  font-size:larger;
}

 .review h1{
  margin-top: 15%;
  text-align: left;
  font-size:x-large;
 
}
.review-list{margin-right: 15%;
  }

.upgrades-img {
  float: left;
  margin: 5%;
  align-items: center;
  width: 100px;
  height: auto;
  
} 

.upgrades-img img
{
  background-color: #006d77;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 100%;
  height: auto;
  border: 1px solid #0D1B2A;
}
.upgrades-img h1{font-size: large;}


/* footer */
footer{
  font-size: larger;
  margin-top: 400px;}

/* second page */
#inv-display{ 
  display: flex;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
}
#inv-display li{flex-direction: column;
  list-style-type: none;
  background-color: #E0E1DD;
  padding: 2%;
  margin: 2%;
  text-align: center;
  }
#inv-display a {
  font-family: "Marcellus";
  color:#0D1B2A}  

  /* View Detail */

  #detail div{
    
    font-family: "Marcellus";
    color:#0D1B2A;  
    
  }
  .detail-div{
    text-align: left;
    } 
  #detail li{  
    list-style-type: none;
    
    }
  #detail img{
    float: left;
    width: 35vw;
    height: auto;
    margin:3%}
  
  #detail h1{margin: 0%;}

  /* form */

  form
  {
    text-align: center;
    font-size: larger;
    font-family: "Marcellus";
    margin: 5%;
    background-color: #415A77;
    color: white;
    padding: 3%;
    
   }

   .form-register{
    text-align: center;
    font-size: larger;
    font-family: "Marcellus";
    background-color: #415A77;
    color: white;
    margin: 15%;
    
   }

   .form-register span{font-size: small;}
#submit{font-size: large;
border-radius: 5px;
padding: 1%;
background-color:#E0E1DD ;
color:#0D1B2A;
font-family: "Marcellus";} 

.sing-up{color:#0D1B2A;
  font-family: "Marcellus";
  font-size: large;}
  

#email,
#password,
#account_email,
#account_password,
#account_firstname,
#account_lastname{
font-size: x-large;
margin: 1%;
}

  .sing-up{text-align: center;
  color: #0D1B2A;}


  /* Management */

  .management{ 
    font-size: large;
    list-style-type: none;
    margin: 5%;  
  }
  .management a {
    color: #1B263B;
     }
 .management li{margin-top: 5px;}  
 
 
 /* Add new Classification */

 .view-add-cla{font-size:x-small;}


 .add-inventory-form{margin: 3%;
text-align: left;}

#classificationList{
  text-align: center;
    font-size:medium;
    font-family: "Marcellus";
    background-color: #415A77;
    color: white;
    margin-bottom:3%;
   
}

.add-inventory-form #submit{margin-top: 5%;}


@media screen and (max-width: 800px)
{
   /* body */
   h1{font-size: large;}
   h2{font-size: medium;}
   h3{font-size: medium;}

   
  html{background-image: none;}
  body {border:none;}
  .sign{
    padding-top:5%;
    width: 50%;
    height: 100%;}
  .review{
  flex-direction: column;  
  }
  .upgrades-img {
    float: left;
    margin: 9%;
    align-items: center;
    width: 85px;
    height: auto;
    
  } 
  .imagen img{width: 100vw;}

  /* second page */
  #inv-display li{flex-direction: row;
  
}
#detail img{
  float: none;
  width:70vw;
  margin:1%;}

  .detail-div{
    text-align: left;
    } 
/* form */
    #email, #password{font-size: large;}  
}